{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Table with Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static './css/style.css' %}">

</head>

<body>
    <nav>
        <img src="{% static './images/logouniv.jpeg' %}">

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'faculté' %}">Faculté</a></li>
            <li><a href="{% url 'critiers' %}">Critérs</a></li>
            <li><a href="{% url 'success' %}">Stage</a></li>
        </ul>
    </nav>
    <div class="container" style="margin-top: 120px;">
        <form method="get" class="d-flex">
            {{ AllStage.form.as_p }}
            <input type="submit" value="Filter" class="btn btn-success ml-3 ">
        </form>
        <h1 class="mt-5">All Stage</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>nom et prenom</th>
                    <th>date_de_naissance</th>
                    <th>Grade</th>
                    <th>critérs</th>
                    <th>nombre_document</th>
                    <th>file</th>

                </tr>
            </thead>
            <tbody>
                {% for stage in AllStage.qs %}
                <tr>
                    <td>{{stage.nom}} {{stage.prenom}}</td>
                    <td>{{stage.date_de_naissance}}</td>
                    <td>{{stage.Grade}}</td>
                    <td>{{stage.critérs}}</td>
                    <td>{{stage.nombre_document}}</td>
                    <td>
                        <a href="{{stage.file.url}}" download>file</a>
                    </td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>