{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Table with Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static './css/style.css' %}">

</head>

<body>
    <nav>
        <img src="{% static './images/logouniv.jpeg' %}">

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'faculté' %}">Faculté</a></li>
            <li><a href="{% url 'critiers' %}">Critérs</a></li>
            <li><a href="{% url 'homeadd' %}">Stage</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>

        </ul>
    </nav>
    <div class="container" style="margin-top: 120px;">
        <a href="{% url 'addfaculté' %}" class=" mb-3 btn btn-success">Add Faculté</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>nom_faculté</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for faculté in allFaculté %}
                <tr>
                    <td>{{faculté.nom_faculté}}</td>
                    <td><a href="{% url 'updatefaculté' faculté.id %}">Update</a>
                        <a href="{% url 'deletefaculté' faculté.id %}" class="ml-4">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>