{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Two Cards with Links</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 37px;
        }


        img {
            position: absolute;
            top: 0;
            left: 20%;
            width: 60%;
            height: 95%;
            object-fit: cover;
        }

        a {
            background-color: rgb(50, 156, 184) !important;
            color: #fff !important;
            width: 250px;
            height: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="{% static 'images/Capture d’écran (359).png' %}" alt="Your Image">

        <div class="row ml-5" style="margin-top: 400px;">
            <div class="col-md-6">

                <h5 class="card-title">{{ type.0 }}</h5>
                <a href="{% url 'upload_docs' type.0.id %}" class="btn btn-success">Remplir formulaire</a>

            </div>

            <div class="col-md-3 " style="margin-left: 250px;">
                {% if type.1 %}

                <h5 class="card-title">{{ type.1 }}</h5>
                <a href="{% url 'upload_docs' type.1.id %}" class="btn btn">Remplir formulaire</a>

                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-left: 380px;">
                {% if type.2 %}

                <h5 class="card-title">{{ type.2 }}</h5>
                <a href="{% url 'upload_docs' type.2.id %}" class="btn btn-success">Remplir formulaire</a>

                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>